:root {
	font-size: 12pt;

	--background: white; /* Base background */
	--text-color: black; /* Base text color */
	--border: 1px solid #ccc; /* Borders */
	--hover-bg: #e2e2e2; /* Applied to every action element such as buttons. Also used for selected elements such as items in a sidebar. */

	--fixed-element-bg: #efefef; /* Applies to fixed elements such as sidebar and top bar. Should be different from general background */

	/* Scrollbars */
	--scrollbar-hover: #ccc;

	/* Divider */
	--divider-color: grey;

	/* Error label and invalid inputs */
	--error-bg: #ffbebe;
	--error-border: darkred;

	/* Other labels */
	--message-bg: #e4f7ff;
	--message-border: cornflowerblue;

	--success-bg: #e3ffd3;
	--success-border: green;

	--warning-bg: #fff4c3;
	--warning-border: goldenrod; /* Also applied to revert button */
}

/*
Scrollbars.
We can consider scrollbars as fixed elements but fixed element's children have same background color as their parent. Since scrollbar's thumb should have different color from track's, we gotta shift our values a bit.
*/

.not-mobile ::-webkit-scrollbar-thumb:window-inactive {
	background: var(--hover-bg);
}

.not-mobile ::-webkit-scrollbar {
	width: 0.7rem;
}

.not-mobile ::-webkit-scrollbar-track {
	background: var(--fixed-element-bg);
	border-left: var(--border);
}

.not-mobile ::-webkit-scrollbar-thumb {
	background: var(--hover-bg);
	border-left: var(--border);
	transition: background 0.2s;
}

.not-mobile ::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-hover);
	transition: background 0.2s;
}

body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
	background: var(--background);
	color: var(--text-color);
}

body.als-no-scroll {
	overflow: hidden;
}

* {
	outline: none;
}

.hidden {
	display: none !important;
}

.leaflet-container {
	width: 100%;
	height: 100%;
	font: inherit;
	background: var(--background);
}

.leaflet-left .leaflet-control,
.leaflet-right .leaflet-control,
.als-button-base, select, .ri {
	margin: 0;
	border-radius: 0;
	color: var(--text-color);
	background: var(--background);
	border: var(--border);
	cursor: default;
	box-shadow: none;
}

.leaflet-bar.leaflet-control.als-zoom {
	border: none;
}

.als-zoom-vertical {
	width: 2rem;
}

.als-zoom-vertical *:first-child {
	border-bottom: none;
}

.als-zoom-horizontal *:first-child {
	border-right: none;
}

.leaflet-popup-content-wrapper {
	border-radius: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: var(--background);
	color: var(--text-color);
}

/* Map container. To properly display menu, we'll need to set some styles to it */
.als-map-container {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.als-button-base {
	min-height: 2rem;
}

.als-button-base, select, .ri {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 0.2rem;
	overflow-wrap: break-word;
	width: 2rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: background 0.2s;
	user-select: none;
}

.not-mobile .als-button-base:hover, .not-mobile select:hover, .not-mobile .ri:hover, .jscolor-btn-close:hover {
	background: var(--hover-bg);
	transition: background 0.2s;
}


/* Setting background to select:active will cause bugs in older browsers, so we don't use it */
.als-button-base:active, .ri:active, .jscolor-btn-close:active {
	background: var(--hover-bg);
	transition: background 0.2s;
}

.ri {
	max-width: 2rem;
	font-size: 1.6rem;
	width: 2rem;
	user-select: none;
}

/* Revert button in settings */
.als-revert-button {
	width: 1.5rem;
	height: 1.5rem;
	font-size: 0.7rem;
	line-height: 1rem;
	margin-left: 0.2rem;
	color: var(--warning-border);
}

input, select {
	font-size: 1rem;
	padding: 0;
	background: var(--background);
	color: var(--text-color);
	border: var(--border);
}

.als-invalid-input {
	background: var(--error-bg);
	border: 1px solid var(--error-border);
}

input:invalid {
	box-shadow: none;
}

input:disabled {
	background: var(--fixed-element-bg);
}

input[type="color"] {
	padding: 0;
	height: 1.3rem;
}

/* Hack to make hidden file input work in old browsers */
.als-file-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

/* File area */
.als-file-area-container {
	display: block !important; /* It won't work in old FF without !important. Appending div selector won't work too. */
}

.als-file-area-container > div {
	display: block;
	width: 100%;
}

.als-file-area {
	display: block;
	height: auto;
	min-height: 0;
	text-align: left;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	width: 100%;
}

select {
	height: 1.5rem;
}

select > * {
	background: var(--background);
	color: var(--text-color);
}

/* JSColor */
.jscolor-picker-wrap {
	z-index: 999999 !important;
}

/* Icon button container */
.als-icon-button-container > .ri {
	width: auto;
	max-width: 100%;
}

/* Menu */
.als-menu-button {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	font-size: 2rem;
	border: none;
	padding: 0;
	line-height: 2rem;
}

.als-menu {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -23rem;
	z-index: 10000;
	width: 22rem;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;

	border-left: var(--border);
	background: var(--background);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	transition: right ease-in-out 0.2s, left ease-in-out 0.2s;
}

.als-menu.als-toolbar-enabled {
	top: 2rem;
}

.als-fullscreen-map .als-menu.als-toolbar-enabled {
	top: 0;
}

.als-menu[data-hidden="0"] {
	right: 0;
	transition: right ease-in-out 0.2s, left ease-in-out 0.2s;
}

.als-menu.menu-left {
	left: -23rem;
	border-left: none;
	border-right: var(--border);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.als-menu.menu-left[data-hidden="0"] {
	left: 0;
}

.mobile .als-menu {
	width: 100%;
	right: -100%;
	border: none;
}

.mobile .als-menu[data-hidden="0"] {
	right: 0;
}

.mobile .als-menu.menu-left {
	left: -100%;
}

.mobile .als-menu[data-hidden="0"].menu-left {
	left: 0;
}


.als-top-panel-spacer + .als-menu-close {
	border-right: none;
	border-left: var(--border);
}

div.als-top-panel-spacer {
	display: none;
	border: none;
	flex-grow: 999;
}

.als-top-panel-spacer-text {
	display: flex;
	max-width: 0;
	white-space: nowrap;
	align-items: center;
	padding-left: 0.3rem;
	color: transparent;
	user-select: none;
}

div.als-electron-buttons-container {
	display: none;
	flex-grow: 0;
	border: none;
}

.not-mobile .als-toolbar-enabled div.als-top-panel-spacer,
.als-electron-toolbar-as-frame div.als-electron-buttons-container {
	display: inherit;
}


.als-electron-toolbar-as-frame div.als-top-panel-spacer-text {
	color: var(--text-color);
}

/* Create fade effect on the title */
.als-electron-toolbar-as-frame .als-top-panel-spacer + *  {
	box-shadow: -0.7rem 0 0.5rem var(--fixed-element-bg);
}

div.als-electron-buttons-container .ri {
	border-right: none;
	border-top: none;
	border-bottom: none;
}

div.als-top-panel {
	position: sticky;
	top: 0;
	width: 100%;
	max-width: 22rem;
	max-height: 2rem;
	background: var(--fixed-element-bg);
	border-top: none;
	border-bottom: var(--border);
	box-sizing: border-box;
	overflow: hidden;
	z-index: 99999;
}

.als-top-panel.als-toolbar-enabled {
	max-width: none;
	z-index: 99999;
}

.mobile .als-menu .als-top-panel {
	max-width: 100%;
}

.als-top-panel .ri {
	background: var(--fixed-element-bg);
	max-width: none;
	min-width: 2rem; /* Fixes 1px width issue with old Firefox */
}

.not-mobile .als-toolbar-enabled > .ri {
	max-width: 2rem;
}

.als-menu-items {
	position: relative;
	overflow: hidden;
}

.als-items-row {
	display: table; /* Hack for older browsers */
	table-layout: fixed;
	display: flex;
	flex-flow: row;
	width: 100%;
	padding: 0;
	border-top: var(--border);
	border-bottom: var(--border);
	max-height: 2rem;
}

.als-items-row > * {
	display: table-cell;
	display: flex;
	border: none;
	word-wrap: break-word;
	border-right: var(--border);
	flex: 1;
}

.als-items-row > *:last-child {
	border-right: none;
}

/* postition relative and position absolute hack doesn't work in really old browsers
top with position relative doesn't work correctly either.
So let's just fill everything with select. */
.als-menu-maps-select-wrapper {
	display: block;
	background: transparent;
	overflow: hidden;
	line-height: 1.6rem; /* Fixes wrong alignment */
	max-height: 2rem;
}

/* Normal or not-so-broken browsers */
.als-menu-maps-select-wrapper > .als-menu-maps-select {
	position: relative;
	display: block; /* Yes, it's duplicate, but IE11 won't work without it */
	appearance: none;
	color: transparent;
	color: rgba(0, 0, 0, 0); /* Fixes grey text in IE11 */
	background: transparent;
	border: none;
	top: -3rem;
	left: -1rem;
	width: 13rem; /* Moves handle to the right and covers space when there're only two buttons */
	height: 4rem;
}

/* Completely broken browsers */
.als-menu-maps-select-wrapper-legacy {
	width: 100%;
	min-width: 2rem;
}

.als-toolbar-enabled .als-menu-maps-select-wrapper-legacy {
	width: 6rem;
	max-width: 6rem;
}

.als-menu-maps-select-wrapper-legacy .als-menu-maps-select {
	width: 100%;
}

.als-menu-maps-select {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-width: 2rem;
	width: 6rem;
	height: 2rem;
}

select.als-menu-maps-select:hover, .als-dark select.als-menu-maps-select:hover {
	background: none;
}

/* Wizard */

.als-window-background {
	display: block;
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 0.3s;
}

.als-window-background[data-hidden="1"] {
	width: 0;
	height: 0;
	opacity: 0;
	transition: all 0s 0.3s, opacity 0.3s;
}

.als-window-window {
	position: relative;
	display: block;
	max-height: 95%;
	max-width: 50rem;
	overflow-y: auto;
	left: 50%;
	top: 50%;
	background: var(--background);
	transform: translate(-50%, -50%);
	transition: top 0.3s;
	border: var(--border);
}

.mobile .als-window-window {
	border-left: none;
	border-right: none;
}

.als-window-background[data-hidden="1"] > .als-window-window {
	top: 25%;
	transition: top 0.4s;
}

.als-window-select {
	height: 2rem;
	font-size: 1rem;
	text-align-last: center;
	width: 100%;
	border: none;
	border-bottom: var(--border);
}

.als-window-content > * {
	width: 100%;
	background: var(--background);
}

/* Sidebar window */

.als-sidebar-window {
	overflow: hidden;
	box-sizing: border-box;
}

.als-sidebar-window *[data-hidden="1"] {
	display: none;
}

.als-sidebar-window-content-wrapper {
	display: table-cell;
	width: 100%;
}

.als-sidebar-window-content-wrapper > .als-window-content {
	width: 100%;
}

.als-sidebar-window-content-wrapper > .als-window-content > * {
	width: 100%;
}

.als-sidebar-window-wrapper {
	overflow: auto;
	max-height: 100%;
}

.als-sidebar {
	display: table-cell;
	min-width: 10rem;
	background: var(--fixed-element-bg);
	border-right: var(--border);
	box-sizing: border-box;
	user-select: none;
}

.als-sidebar > * {
	width: 100%;
	height: auto;
	min-height: 0;
	line-height: 1.2rem;
	box-sizing: border-box;
	white-space: nowrap;
	text-align: left;
	border: none;
	border-bottom: var(--border);
	background: var(--fixed-element-bg);
}

.als-sidebar > *[data-is-selected="1"] {
	background: var(--hover-bg);
	transition: background 0.3s;
}

.als-window-sidebar-title {
	padding: 0.2rem;
	text-align: center;
	background: var(--fixed-element-bg);
	border-bottom: var(--border);
	white-space: normal;
	box-sizing: border-box;
	user-select: none;
}

.als-window-button-container {
	flex-wrap: nowrap;
	border-bottom: 0;
}

.als-window-button-container > div {
	padding: 0;
	width: auto !important; /* Won't work in IE9 without !important */
	display: table-cell;
	display: flex;
}

.als-window-button-container div.als-icon-button-container {
	flex: 1;
}

.als-window-button-container > :last-child {
	border-right: 0;
}

.als-window-button-container .ri {
	max-width: none;
}

.als-window-button-container .als-button-base {
	border: none;
}

/* Layers */
.als-layer-container {
	width: 100%;
}

.als-layer-menu[data-hidden="0"] {
	border-bottom: var(--border);
}

div.als-layer-menu.als-only-one-layer { /* Don't add border when there's only one layer */
	border: none;
}

.als-layer-container > .als-items-row {
	border: none;
	border-bottom: var(--border);
	transition: background 0.3s;
}

.not-mobile .als-layer-container > .als-items-row:hover {
	background: var(--hover-bg);
	transition: background 0.3s;
}

.als-layer-container[data-is-selected = "1"] > .als-items-row,
.not-mobile .als-layer-container[data-is-selected = "1"] > .als-items-row:hover {
	background: var(--hover-bg);
	transition: background 0.3s;
}

.als-layer-label {
	/*display: inline-block;*/
	vertical-align: middle;
	display: flex;
	align-items: center;
	width: 10.7rem;
	height: 2rem;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.als-layer-label[contenteditable = "true"] {
	text-decoration: underline;
}

.als-layer-handle {
	cursor: move;
}

.als-layer-menu {
	display: block;
	width: 100%;
	border: none;
}

.als-widget-row {
	display: block; /* Hack for older browsers */
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	box-sizing: border-box;
	padding: 0.2rem;
	width: 100%;
}

.als-widget-row > * {
	display: inline-block; /* Hack for older browsers */
}

.als-widget-row > label {
	width: 12rem; /* Hack for older browsers */
	flex: 1 1 13rem;
	user-select: none;
}

.als-label.wrap-label { /* Will be added to the label if text length is too big */
	width: 100%;
	flex: none;
}

.als-input {
	width: 7rem; /* Hack for older browsers */
	flex: 9999 1 5rem;
}

.als-input > * {
	width: 100%;
	box-sizing: border-box;
}

.als-input > input {
	height: 1.2rem;
	padding-top: 0;
	padding-bottom: 0;
}

/* Checkbox */
.als-checkbox-wrapper {
	width: 1.2rem;
	flex: none;
}

.als-checkbox-wrapper > input:checked + .ri {
	color: var(--text-color);
	transition: color 0.2s, background 0.2s;
}

.als-checkbox-wrapper > .ri {
	display: table-cell;
	min-width: 1rem;
	width: 1rem;
	font-size: 0.9rem;
	font-weight: 700;
	margin: 0;
	padding: 0;
	color: transparent;
	transition: color 0.2s, background 0.2s;
}

/* Radio buttons */
.als-radio-group-wrapper {
	display: block;
}

.als-radio-group-wrapper > .als-widget-row { /* Parent .als-widget-row overrides display of this one, so we gotta restore it */
	display: table;
	vertical-align: middle;
	padding-left: 1rem;
}

.als-radio-group-wrapper .als-checkbox-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.als-radio-group-wrapper .als-checkbox-wrapper + .als-label {
	vertical-align: middle;
}

.als-radio-group-wrapper input + .ri {
	display: table-cell;
	vertical-align: middle;
	border-radius: 100%;
}

.als-radio-label-wrapper > .ri {
	margin-left: 1rem;
}

/* Number input */
.als-number {
	display: flex;
	flex-flow: row;
}

.als-number > input {
	vertical-align: middle;
	width: 4rem; /* Hack for older browsers */
	flex: 1 1;
}

.als-divicon .als-number > input {
	width: 2rem; /* Hack for older browsers */
}

.als-number > .ri {
	min-width: 1.2rem;
	max-width: 1.2rem;
	min-height: 1.2rem;
	height: 1.2rem;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.2rem;
	padding: 0;
}

.als-number > * {
	border-right: none;
}

.als-number > *:last-child {
	border-right: var(--border);
}

/* Single button */
.als-buttons-wrapper {
	display: table;
	width: 100%;
}

.als-buttons-wrapper .als-button-base {
	display: table-cell;
	height: 2rem;
}

/* Buttons group */
.als-buttons-group-wrapper {
	justify-content: stretch;
	padding: 0;
}

.als-buttons-group-wrapper .als-widget-row {
	width: 100%;
	flex: 1 1 6rem;
	height: auto;
	align-self: stretch;
}

.als-buttons-group-wrapper .als-input {
	width: 100%;
	max-width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.als-buttons-group-wrapper .als-icon-button-container {
	flex: 0 0 2rem;
}

/* Divider */
.als-divider {
	height: 1px;
	margin: 0.2rem;
	border: none;
	padding: 0;
	background: var(--divider-color); /* For browsers that does not support gradients */
	background: linear-gradient(90deg, transparent 5%, var(--divider-color) 25%, var(--divider-color) 75%, transparent 95%);
}

/* WidgetLayer */

.als-divicon-container {
	border: none;
	background: none;
	width: 0;
	height: 0;
}

.als-divicon {
	font-size: 0.75rem;
	background: var(--background);
	border: var(--border);
	width: 12rem;
}

.als-divicon-container .nostyle {
	border: none;
	padding: 0;
}

.als-divicon-container .nostyle > * {
	padding: 0;
}

.als-divicon-container .nostyle .als-simple-label {
	border: var(--border);
	padding: 0 0.1rem;
}

.als-divicon > .als-widget-row {
	display: flex;
	flex-flow: row;
}

.als-divicon input, .als-divicon select {
	font-size: 0.75rem;
}

.als-divicon > .als-widget-row > label {
	width: 60%;
	margin: 0;
	flex: 1 1 6rem;
}

.als-divicon > .als-widget-row > label + .als-input {
	width: 40%;
	flex: 9999 1 4rem;
}

.als-divicon-pos-center {
	transform: translate(-50%, -50%);
}

.als-divicon-pos-leftCenter {
	transform: translateY(-50%);
}

.als-divicon-pos-rightCenter {
	transform: translate(-100%, -50%);
}

.als-divicon-pos-topCenter {
	transform: translateX(-50%);
}

.als-divicon-pos-topRight {
	transform: translateX(-100%);
}

.als-divicon-pos-bottomLeft {
	transform: translateY(-100%);
}

.als-divicon-pos-bottomCenter {
	transform: translate(-50%, -100%);
}

.als-divicon-pos-bottomRight {
	transform: translate(-100%, -100%);
}

/* SimpleLabel */

.als-simple-label-wrapper {
	width: 100%;
}

.als-simple-label {
	flex: 99999999999999;
}

.als-simple-label.error {
	padding: 0.2rem;
	background: var(--error-bg);
	border: 1px solid var(--error-border);
}

.als-simple-label.message {
	padding: 0.2rem;
	background: var(--message-bg);
	border: 1px solid var(--message-border);
}

.als-simple-label.success {
	padding: 0.2rem;
	background: var(--success-bg);
	border: 1px solid var(--success-border);
}

.als-simple-label.warning {
	padding: 0.2rem;
	background: var(--warning-bg);
	border: 1px solid var(--warning-border);
}

/* Text area */
.als-textarea {
	font-family: arial, sans-serif;
	font-size: 1rem;
	resize: none;
	width: 100%;
	height: fit-content;
	max-height: 10rem;
	background: var(--fixed-element-bg);
	border: var(--border);
}

.als-textarea:disabled {
	color: var(--text-color);
}

.als-textarea-mono {
	font-family: Consolas, consolas, monospace;
}


/* Spoiler */

/* Old Firefox won't wrap items in a flexbox */
.als-spoiler-container {
	display: block;
}

/* als-widget-row sets display of its children to inline-block which breaks spoiler layout. Gotta reset it. */
.als-spoiler-container > * {
	display: block;
}

.als-spoiler-button {
	width: 100%;
	min-height: 0;
}

.als-spoiler-button > * {
	display: table-cell;
	vertical-align: middle;
}

.als-spoiler-button > label {
	text-align: left;
	width: 100%;
}

.als-spoiler-button > div {
	text-align: right;
	min-width: 1rem;
}

.als-spoiler-wrapper {
	width: 100%;
	background: var(--fixed-element-bg);
	box-sizing: border-box;
	border: var(--border);
	border-top: none;
}

/* Error displayed in IE */
.als-ie-project-error {
	padding: 0.2rem;
	overflow-wrap: break-word;
	box-sizing: border-box;
}

.als-ie-project-error ol {
	box-sizing: border-box;
}

/* About section */
.als-about-container h1, .als-about-container h2, .als-about-container h3, .als-about-container h4 {
	text-align: center;
	margin: 1rem;
}

.als-about-wrapper {
	padding: 0.5rem;
	box-sizing: border-box;
}

/* Loading animation */
.als-loading-container {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	border-top: var(--border);
	background: var(--fixed-element-bg);
}

.als-loading {
	width: 100%;
	height: 0.7rem;
	background: var(--hover-bg);
	animation: als-loading 2.5s ease-in-out infinite;
}

@keyframes als-loading {
	0% { transform: translateX(-100%); }
	50% { transform: translateX(100%); }
	100% { transform: translateX(-100%); }
}

/* "Project Saved notification. Appears only in Chrome." */

.als-saved-notification {
	position: fixed;
	width: auto;
	left: 50%;
	transform: translate(-50%);
	padding: 0;
	top: -5rem;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 10, 0.9);;
	user-select: none;
	transition: margin-top 0.5s;
}

.als-saved-notification.shown {
	top: 1rem;
	transition: top 0.5s;
}

/* Leaflet.Draw fixes. Their stylesheets are more specific than this, so we have to resort to !important */

.leaflet-draw.leaflet-control {
	background: none !important;
	border: none !important;
}

.leaflet-draw-toolbar {
	background: none !important;
	border-radius: 0 !important;
	border: none !important;
}

.leaflet-draw .leaflet-draw-toolbar a {
	width: 2rem !important;
	height: 2rem !important;
	border: var(--border) !important;
	box-sizing: border-box;
	transition: background-color, filter 0.2s; /* For filter, see dark.css */
}

.leaflet-draw .leaflet-draw-toolbar a:hover {
	transition: background-color, filter 0.2s;
}

.leaflet-draw-actions a {
	height: 2rem !important;
	background-color: var(--background);
	color: var(--text-color);
	line-height: 2rem !important;
	border: var(--border) !important;
	border-right: none !important;
	box-sizing: border-box;
	border-radius: 0 !important;
	transition: background-color 0.2s;
}

.leaflet-draw-actions a:hover {
	background-color: var(--hover-bg);
	transition: background-color 0.2s;
}

.mobile .leaflet-left .leaflet-draw-actions {
	left: 2rem;
}

.mobile .leaflet-right .leaflet-draw-actions {
	right: 2rem;
}

.mobile .leaflet-draw-toolbar a {
	background-size: 600px 60px;
}

.mobile .leaflet-draw-toolbar .leaflet-draw-draw-polyline {
	background-position: -10px -8px;
}

.mobile .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
	background-position: -70px -8px;
}

.mobile .leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
	background-position: -130px -8px;
}

.mobile .leaflet-draw-toolbar .leaflet-draw-draw-circle {
	background-position: -190px -8px;
}

.mobile .leaflet-draw-toolbar .leaflet-draw-draw-marker {
	background-position: -250px -8px;
}

.mobile .leaflet-draw-toolbar .leaflet-draw-draw-circlemarker {
	background-position: -550px -8px;
}

.mobile .leaflet-draw-toolbar .leaflet-draw-edit-edit {
	background-position: -310px -8px !important;
}

.mobile .leaflet-draw-toolbar .leaflet-draw-edit-remove {
	background-position: -370px -8px !important;
}

/* Fullscreen map */

.als-fullscreen-map .als-top-panel.als-toolbar-enabled {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.als-fullscreen-map .als-map-container {
	position: absolute;
	top: 2rem;
	left: 0;
	right: 0;
	bottom: 0;
}

/* ALS custom panes */

.leaflet-pane.als-pane.als-inactive-pane {
	z-index: 200;
	opacity: 0.8;
	filter: sepia(30%);
}

.leaflet-pane.als-pane .leaflet-marker-icon {
	z-index: 250 !important; /* Fix markers placed behind the canvas when custom pane is used */
}

/* IE11 hacks */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	body {
		margin: 0;
		padding: 0;
	}

	.als-window-window {
		margin: 0;
	}

	.als-simple-label {
		max-width: 100%;
		flex: none;
	}

	.als-top-panel .ri {
		display: block;
	}

	/*.als-menu-maps-select-wrapper {
		line-height: 2rem;
	}*/
}

/* IE9 hacks */
.ie-lte-9 .als-top-panel {
	display: block;
}