:root {
	--background: #191919; /* Base background */
	--text-color: #dcdcdc; /* Base text color */
	--border: 1px solid #696969; /* Borders */
	--hover-bg: #474747; /* Applied to every action element such as buttons. Also used for selected elements such as items in a sidebar. */

	--fixed-element-bg: #2d2d2d; /* Applies to fixed elements such as sidebar and top bar. Should be different from general background */

	/* Scrollbars */
	--scrollbar-hover: #696969;

	/* Divider */
	--divider-color: #696969;

	/* Error label and invalid inputs */
	--error-bg: #8d4444;
	--error-border: #ffbebe;

	/* Other labels */
	--message-bg: #3e4b63;
	--message-border: #e4f7ff;

	--success-bg: #498d44;
	--success-border: #e3ffd3;

	--warning-bg: #635c3e;
	--warning-border: #fff4c3; /* Also applied to revert button */
}

/* Leaflet.Draw fix */
.als-dark .leaflet-draw .leaflet-draw-toolbar a {
	filter: invert(90%);
}

.als-dark .leaflet-draw .leaflet-draw-toolbar a:hover {
	filter: invert(77%);
}

.als-dark .leaflet-draw .leaflet-disabled:hover {
	filter: invert(90%);
}